.App {
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
    background-color: #2c3440;
    overflow-y: scroll;
    padding-right: 3em;
    &.closed {
        grid-template-columns: 50px 1fr;
    }
    &.reading-review {
        grid-template-columns: 1fr;
        padding-right: 0;
    }
    @media (max-width: 500px) {
        grid-template-columns: 1fr;
        padding-right: 0;
    }
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-link {
    color: #61dafb;
}

.sidebar-container {
    display: flex;
    justify-content: center;
}

.search-bar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: inherit;
    border: none;
    height: 30px;
    margin: 1em 1em 1em 1em;
    width: 30px;

    img {
        height: inherit;
        width: inherit;
        &:hover {
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
            cursor: pointer;
        }
    }
}

.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(185, 201, 193);
    border-radius: 1em;
    margin: 3em 0 1em 0;
    padding: 0 1em 2em 1em;
    height: fit-content;
    max-height: 90%;
    overflow-y: scroll;
    @media (max-width: 500px) {
        position: relative;
    }
}

.search-icon-row {
    display: flex;
    height: 40px;
    margin-top: 0.5em;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
    .search-bar-button {
        margin: 1em 1em 1em 0em;
    }
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 3em 0 3em 0;
}

.book-tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.book-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 225px;
    border-radius: 0.5em;
    background: black;
    overflow: hidden;
    &:hover {
        outline: medium solid green;
        cursor: pointer;
    }
}

.book-cover {
    max-width: 200px;
    max-height: 225px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.book-review-container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: auto;
    max-height: 90%;
    background-color: rgb(255, 223, 191, 1);
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 5px 5px rgb(0 0 0 / 20%);
}

.book-review {
    height: 100%;
    overflow: auto;
    padding: 1em;
    border-radius: 1em;
    padding: 1em;

    .review-title {
        font-size: 3em;
        grid-column-start: 2;
    }
    .review-title {
        margin-top: 0.5em;
    }
    .review-author {
        font-size: 2em;
    }
    .review-date {
        font-size: 2em;
    }
    .review-content {
        padding: 1em;
        font-size: 1em;
    }
}

.flex-last-right {
    display: grid;
    grid-template-columns: 1.5fr 10fr 1fr;
    align-items: center;
    :last-child {
        align-self: flex-start;
        justify-self: right;
    }
}

.close-button {
    position: absolute;
    background-color: rgb(255, 223, 191, 1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    cursor: pointer;
    img {
        height: inherit;
        width: inherit;
        &:hover {
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
        }
    }
}

input {
    text-align: center;
    text-overflow: ellipsis;
    border-radius: 1em;
    height: 40px;
    padding: 0 1rem 0 1rem;
    font-size: 0.75em;
    border: 2px solid rgb(50, 50, 50, 0.33);
    background-color: rgb(255, 255, 255, 0.8);
    &:hover {
        box-shadow: 0 0 2px 2px rgb(50, 50, 50, 0.66);
    }
    &:focus {
        outline: 0;
        background-color: rgb(225, 225, 225, 0.9);
    }
}

select {
    text-align-last: center;
    border-radius: 1em;
    height: 40px;
    font-size: 0.75em;
    border: 2px solid rgb(50, 50, 50, 0.33);
    padding: 0 1rem 0 1rem;
    background-color: rgb(255, 255, 255, 0.8);
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 2px 2px rgb(50, 50, 50, 0.66);
    }
    &:focus {
        outline: 0;
        background-color: rgb(225, 225, 225, 0.9);
    }
}
