.App {
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 6fr;
    &.closed {
        grid-template-columns: 1fr 15fr;
    }
    grid-template-rows: 1fr;
    background-color: gray;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-link {
    color: #61dafb;
}

.sidebar {
    background-color: blue;
    height: inherit;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.main-content {
    background-color: gray;
    height: inherit;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    margin: 3em;
}

.book-tile {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    margin: 1em;
    border-radius: 0.5em;
    overflow: hidden;
    &:hover {
        outline: medium solid green;
        cursor: pointer;
    }
}

.book-cover {
    /* margin-bottom: 0.5em; */
}

.book-review-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: auto;
    max-height: 90%;
    background-color: wheat;
    overflow: hidden;
    border-radius: 1em;
}

.book-review {
    height: 100%;
    overflow: auto;
    padding: 0.5em;
    border-radius: 1em;

    .review-title {
        font-size: 3em;
        grid-column-start: 2;
    }
    .review-title {
        margin-top: 0.5em;
    }
    .review-author {
        font-size: 2em;
    }
    .review-date {
        font-size: 2em;
    }
    .review-content {
        padding: 1em;
        font-size: 1em;
    }
}

.flex-last-right {
    display: grid;
    grid-template-columns: 1.5fr 10fr 1fr;
    align-items: center;
    :last-child {
        align-self: flex-start;
        justify-self: right;
    }
}

.close-button {
    background-color: wheat;
    border: none;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    cursor: pointer;
    img {
        height: inherit;
        width: inherit;
        &:hover {
            box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
        }
    }
}
